<div class="container py-5" id="timeline-wrapper">

    <!-- For demo purpose -->
    <div class="row text-center text-white mb-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Weather Timeline</h1>
            <p class="lead mb-0"></p>
            <p class="lead"><a href="/shares/new" class="text-white">
                <u>POST Weather</u></a></p>
            </div>
        </div><!-- End -->


        <div class="row">
            <div class="col-lg-7 mx-auto">
                
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Heavy Rain</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>21 March, 2019(現在の時刻を取得)</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        <p class="text-small mt-2 font-weight-light"> Google API で投稿場所の地図を反映</p>
                        <%# <select class="form-control form-control-sm">
                        <option>Small select</option> %>
                        </select>
                    </li>

                     <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">Drizzle</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>現在の時刻を取得</span>
                        <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                        <p class="text-small mt-2 font-weight-light"> Google API で現在地の地図を反映</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12962.671953119789!2d139.7100517!3d35.6851763!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a1eb1b5a117f287!2z5paw5a6_5b6h6IuR!5e0!3m2!1sja!2sjp!4v1561075619361!5m2!1sja!2sjp" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <%# <select class="form-control form-control-sm">
                        <option>Small select</option> %>
                        </select>
                    </li>
                    

                </ul><!-- End -->

            </div>
        </div>
    </div>